--- 
layout: default
---

<div class="home">


 

<div class="posts center">


{% assign cp = site.cowphy | sort: 'title' %}
{% for post in cp %}
<div style="display:block;">

   <div class="post py3 pdivideleft" style="clear: left;">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <img src="{{ post.cowsay }}">
  </a>
  </div>

  <div class="post py3 pdivideright" style="margin-bottom:2em;">
      <p class="post-meta">{{ post.date | date: site.date_format }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h2 post-title">{{ post.title }}</h3></a>
      <p class="post-summary">
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
      </p>
      <p class="post-meta post-tags"> {% for tag in post.tags %}
          #{{ tag }}# 
          {% endfor %} </p>
  </div>

 

</div>
<div style="clear: left;">

{% endfor %}


</div>





    

</div>