@media screen and (min-width: 32em) {
   .pdivideleft {
      width:45%;
      float:left;
      margin-left:1%;
      margin-right:1%;
      min-width: 16em;
   }
   .pdivideright {
      width:45%;
      float:right;
      margin-left:1%;
      margin-right:1%;
      min-width: 16em;
   }
   .pdivide img {
   display: block;
    margin: auto;
   }
}

.post-tags {
   overflow: none;
}

.footnotes {
   margin-top: 5em;
   padding-top: 2em;
   background: white;
   border-top: 2px dashed #046ca3;
   
}